a {
	color: #f3f3f3;
}

a:visited {
	color: #f3f3f3;
}

h2, a {
    color: black;
}

.Div_1 {
	width: 100%;
	height: 500px;
}

.Div_1_2{
	background-color: blue;
}

.Div_1_2_3 {
	text-align: center;
}

.omot {
	margin: 0 auto;
	width: 300px;
	height: 200px;
	background-color: #3399FF;
	text-align: center;
	}
	
input {
	background-color: #FFFF9E;
	}
	
.omotavanje {
	margin: 0 auto;
	width: 600px;
	height: 250px;
	overflow: hidden;
}
#naslov {
	text-align: center;
	vertical-align: middle;
	background-color: #35b9ab;
	height: 100px;
	width: 600px;
	position: relative;
    overflow: hidden;
}

#podnaslov {
    text-align: center;
    vertical-align: middle;
	background-color: #1b8483;
	width: 600px;
	height: 50px;
    overflow: hidden;
}

#nav_1 {
	float: left;
}
	
#nav_2 {
	float: right;
    color: #f3f3f3;
}
