
body, html {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
}

ti {
	
	overflow: show;	
}
ti_2 {
	float: center;
	display: block;
	background-color:  #333;
	text-align: center;
	padding: 14px 16px;
	font-size: 20px
}

header {
	display: block;
	width: 100%;
	color: white;
	text-align: center;
	
}
.hero-image {
	background-image: url("https://www.air-worldwide.com/uploadedImages/Consulting/consulting.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #27318b;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}
}
#contact {
	margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #758185;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	
}
footer img {
	width: 20px;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
}